# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

###############################################

# Project
build/*
bin/*
.vs/*
out/*
.vscode/*

# Data folders
data/*
test/data/*

# README and libraries
!README.md
!PerlinNoise

#
*.jpg
*.jpeg
*.obj
*.ply
*.sublime-workspace
*.off
*.log
*.sublime-workspace
.DS_Store
config.yaml
